# GENERAL
PORT=8000 # please, keep the port 8000, cause this one is allowed in Sanity Project Setup
HOST=https://example.com/
MODE=local

# SHOPIFY
SCOPES=write_inventory,write_gift_cards,write_locations,write_products,read_fulfillments
SHOPIFY_API_KEY=api_key
SHOPIFY_API_SECRET=api_secret

# SANITY
SANITY_PROJECT_ID=
SANITY_DATASET=staging
SANITY_API_TOKEN= 
SANITY_API_VERSION=2023-03-30

# REDIS
# simply use REDIS_URL instead of rest envs
REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_USER=default
REDIS_PASSWORD=admin
