# GENERAL
PORT=8000 # please, keep the port 8000, cause this one is allowed in Sanity Project Setup
HOST=https://example.com/
MODE=local

# SHOPIFY
SCOPES=read_gift_cards, read_inventory, write_inventory, write_gift_cards, read_locations, write_locations, read_products, write_products, read_locales, write_locales
SHOPIFY_API_KEY=api_key
SHOPIFY_API_SECRET=api_secret
SHOPIFY_API_ACCESS_TOKEN=
SHOPIFY_DOMAIN=

# SANITY
SANITY_PROJECT_ID=
SANITY_DATASET=staging
SANITY_API_TOKEN= 
SANITY_API_VERSION=2023-03-30
